/*<inside the body margin is given 0 auto according to the size of the screen.padding is also given 0% and font family is used
as 'Great Vibes', Arial, sans-serif; which is the goggle font>*/

body
{
  margin: 0;
  padding: 0; font-family: 'Raleway', Arial, sans-serif;
}
/*<header width is 100% which mean it is feet to the screen and background color is given black.Display is used to flex and
flex direction is used in the row>*/
header
{
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;

}
/*<logo width is given 10%>*/

header img{
  height: 190px;
  width: 170px;

}
.logoimg, .prosimg
{
  width: 100%;
}

/*<menu width is given 90%>*/
.menu
{
  width: 90%;
}
/*<In the menu ul margin is given auto and list style none is  given display is used in the flex
and flex direction is used in the row and content is justified by giving flex end >*/
.menu ul{
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }
/*<menu ul li width is given 5% and padding is given 5% and 2%>*/
.menu ul li{
  width: 5%;
  padding: 5% 2%;
  transition: border-bottom 1s;
  transition-duration: 1.5s;
}
/*<menu ul li a color is used inn white and text decoration is used as none>*/

.menu ul li a{
  color: white;
  text-decoration: none;
}
/*<menu ul li a hover is used and font size is given 1.25em which is equal to 19px>*/
.menu ul li:hover{
  border-bottom: 12px solid green;
  background-color: red;
  transform: scale(1.2);

}
/*<section width is given 100% which meqan 100% to the size of the screen and display is used in
flex and flex direction is given in the row>*/
section
{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.photo
{
  width: 60%;
  margin: 0 auto;
}

/*<Inside one division class name text is given by using 40% width and padding is given 2% and font size is used 1.5em and
 'Great Vibes', Arial, sans-serif font family is used>*/

.myself
{
  font-size: 1.4em;
  width:40%;
  padding: 0%;
  text-align: justify-all;
  font-family: 'Raleway' Arial, sans-serif;
}
.myself h1 {
  margin: 0px;
  padding-left: 22px;
  padding-top: 12px;
}
.myself p {
  margin: 0px;
  padding-left:  20px;
  padding-top: 8px;
}

/*<footer width is given as 100% display is used in flex and flex direction is given column which is used for the
webpage making more responsive.Background color is used in the black>*/
footer
{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: -4px;
}
/*<In top division class width is given 100% and color is used as white.>*/
.top
{
  width: 100%;
  color: white;
}
/*<In the class top heading 1 padding left is used as 1%>*/
.top h1
{
  padding-left: 1%;
}
/*<In the class top ul li list style is used as none>*/
.top ul li{
  list-style: none;
}
/*<In the class top ul margin is given 0 auto>*/
.top ul
{
  margin: 0 auto;
}
/*<In the division class site width is given 100% and disply is given in the flex and flex direction is given in the
row and justify content used as flex end>*/
.sites
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/*<Inside the site class margin 0% 1% is used >*/
.sites a{
  margin: 0% 1%;
}
.medias img{
  position: relative;
  top: -55px;
  height: 42px;
  width: 42px;
  transition:all 1.5s;
}
.medias img:hover{
  transform: rotate(360deg);
}

/*<@media is used for the webpage responsive and max width is us>*/
@media (max-width:600px)
{
  /*<header width is given  100% and display is used as flex and flex direction is given in the column>*/
  header
  {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /*<inside the @media logo class is given as logo and margin is kept auto and width is given
  30% and padding is given 42%>*/
  .logo img{
    margin: 0 auto;
    height: 96px;
    padding-left: 42%;
    width: 30%;
  }

  /*<menu width is given 100% and background color is used as grey*/
  .menu
  {
    width: 100%;
    background-color: grey;
  }
  /*<menu ul is given 100% width and disply is used in the flex and flex direction is given in the row>*/
  .menu ul
  {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /*<menu ul li is given width 100% and padding is given 3%>*/
  .menu ul li
  {
    width: 100%;
    padding: 3%;
  }
  /*<section is display in flex and flex direction is used in the column>*/
  section
  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /*<photo class is given 100% width>*/
  /*<ganesh id is given 100% width>*/
  .photo
  {
    width: 100%;
    margin: 1%;
  }
  /*<width is given 100% for myself class>*/
  .myself
  {
    width: 100%;
    padding: 5%;
  }
  /*<Inside the site class display is in flex and flex direction is used for the column and width is given 100% and justify
  content is in the center>*/
  .sites
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
  }
/*<Inside the media class width is given 50% and margin is used auto*/
footer{
  height: 300px;
}
  .medias
  {
    width: 50%;
    margin: 0 auto;
  }
  .medias img{
    position: relative;
    top: 40px;
  }
}
/*<medias is created by using 50% margin auto and position relative>*/
